
* {
    box-sizing: border-box;
}

main {
    display: flex;
    width: 60%;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

div {
    border: 1px black solid;
}

button {
    margin: auto;
    width: 300px;
    height: 100px;
}
