
* {
    box-sizing: border-box;
    font-family: 'Inter', 'Open Sans', 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.game {
    display: flex;
    align-items: flex-start;
    margin: auto;
    justify-content: space-evenly;
    padding: 0 12rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.container, .container div {
    border: 2px #112A46 solid;
}

.settings {
    display: flex;
    align-items: flex-start;
}

[class$="-settings"] {
    display: flex;
    flex-direction: column;
}

input {
    color: #112A46;
    border: 2px #112A46 solid;
    background-color: #8ECDDD;
}

button, input {
    margin: 1rem;
    width: 300px;
    text-align: center;
    font-size: 1.5rem;
}

input::placeholder {
    font-size: 1rem;
}

button {
    height: 100px;
    border: 2px #8ECDDD solid;
    background: #112A46;
    color: #8ECDDD;
    font-weight: 500;
    font-size: 1rem;
}
