html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', 'Open Sans', 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.game {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.container, .container div {
    border: 2px #112A46 solid;
}

.settings {
    display: flex;
    align-items: flex-start;
}

[class$="-settings"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

input {
    color: #112A46;
    border: 2px #112A46 solid;
    background-color: #8ECDDD;
}

button, input {
    margin: 1rem;
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
}

input::placeholder {
    font-size: 1rem;
}

button {
    border: 2px #8ECDDD solid;
    background: #112A46;
    color: #8ECDDD;
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width: 1200px) {
    .game {
        flex-direction: row;
        align-items: flex-start;
    }

    h2 {
        font-size: 2rem;
    }
}